Source: acme.sh
Section: utils
Priority: optional
Maintainer: Gea-Suan Lin (PPA) <gslin@gslin.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Neilpang/acme.sh
Vcs-Git: git@github.com:Neilpang/acme.sh.git
Vcs-Browser: https://github.com/Neilpang/acme.sh

Package: acme.sh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, netcat-openbsd, openssl, wget
Description: An ACME Shell script, a certbot client: acme.sh
 * An ACME protocol client written purely in Shell (Unix shell) language.
 * Fully ACME protocol implementation.
 * Simple, powerful and very easy to use. You only need 3 minutes to learn.
 * Bash, dash and sh compatible.
 * Simplest shell script for Let's Encrypt free certificate client.
 * Purely written in Shell with no dependencies on python or Let's Encrypt official client.
 * Just one script, to issue, renew and install your certificates automatically.
 * DOES NOT require root/sudoer access.
 It's probably the easiest&smallest&smartest shell script to automatically issue & renew the free certificates from Let's Encrypt.
