Source: acme.sh
Section: utils
Priority: optional
Maintainer: Gea-Suan Lin (PPA) <gslin@gslin.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Neilpang/acme.sh
Vcs-Git: git@github.com:Neilpang/acme.sh.git
Vcs-Browser: https://github.com/Neilpang/acme.sh

Package: acme.sh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, netcat-openbsd, openssl, sed, wget
Description: An ACME Shell script, a certbot client: acme.sh
